

.body-custom-background {
    background-color: rgb(223, 199, 167);
}




.custom-wrapper {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    border: 1px solid black;
}