.container {
    display: flex;
    border: 4px solid red;
    width: 1600px;
    margin: 50px;
    padding: 30px;
}
/* ##### main-page-lessons-links ##### */

.main-page-lessons-links {
    display: flex;
}

.main-page-lessons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: -30px;
    margin-left: -30px;
}

.main-page-lessons-items {
    margin-top: 30px;
    margin-left: 30px;

    flex-basis: calc((100% / 4) - 30px);
}



/* ##### END of main-page-lessons-links ##### */

.lorem-text-style-one {
    text-align: center;
}

.lorem-text-style-two {
    text-align: end;
}

.lorem-text-style-three {
    text-align: justify;
    text-justify: distribute-all-lines;
}

.lorem-text-style-four {
    text-align: left;
}

.lorem-text-style-five {
    text-align: right;
}

.lorem-text-style-six {
    text-align: start;
}

.lorem-text-style-seven {
    text-justify: distribute-all-lines;
}